body {
    background-image: url(./images.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
    background-attachment: fixed;
}

img {
    height: 100%;
    width: 100%;
}

.main {
    background-color: rgb(29, 28, 28);
    padding: 50px;
    border-radius: 50px;
    padding-bottom: 0px;
}

.lo_name {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

* {
    transition: 1s;
    padding: 0px;
    margin: 0px;
    color: #d5d5d5;
}

p {
    font-size: 20px;
    font-weight: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: poppins, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #f5f5f5;
}

.logo {
    background-color: #007ced;
    border-radius: 50%;
    border-width: 100px;
    height: 50px;
    width: 50px;
}

h3 {
    margin: 10px;
}

h2 {
    margin-bottom: 20px;
}

h1 {
    margin-left: 14px;
    margin-top: 6px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.menu,
h2 {

    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons input {
    height: 40px;
    padding-right: 50px;
    padding-left: 50PX;
    background-color: rgb(95, 93, 93);
    border: 2px solid #007ced;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    width: 185px;

}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.image {
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding: 150px
}

.profile_img img {
    height: 300px;
    border-radius: 50%;
    border: 15px solid rgb(95, 93, 93);
    width: 300px;
}

.name {
    font-size: 60px;
}

.Download:hover {
    background-color: #007ced;

}

.Contact:hover {
    background-color: rgb(194, 192, 192);
    color: rgb(95, 93, 93);
}

.section-title h2 {
    position: relative;
}

.section-title h2:before {

    content: " ";
    height: 2px;
    width: 117px;
    background-color: rgb(95, 93, 93);
    position: absolute;
    bottom: 0;

}

.section-title h2:after {
    bottom: 0;
    content: " ";
    background-color: #007ced;
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
}

.fa-solid {
    color: #007ced;
    font-size: 45px;
}

.parent>div {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.section2 {
    padding-bottom: 50px;
}

.study div {
    display: flex;
    flex-direction: column;
}

.parent {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;

    width: 100%;
}

footer {
    padding: 20px;
    border-top: 1px solid rgb(95, 93, 93);
    margin-left: -50px;
    margin-right: -50px;
    padding: 25px 70px;
}

footer li:hover {
    color: #f5f5f5;

}

.title {
    font-size: xxx-large;
}

.contact-title {
    margin-left: -50px;
    margin-right: -50px;
    padding: 50px;
    border-top: 1px solid rgb(95, 93, 93);
    border-bottom: 1px solid rgb(95, 93, 93);
    margin-top: 50px;
    margin-bottom: 50px
}

.parent-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.parent-content>div {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.section3 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.form>div {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.form form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input {
    height: 35px;
    width: 300px;
    background-color: rgb(29, 28, 28);
    border: 1px solid;
    border: 2px solid rgb(95, 93, 93);
    padding-left: 10px;
    border-radius: 10px;
    font-size: 19px;
}

.form1 {
    margin-top: 50px;
}

.text-message {
    height: 175px;
    text-align: top;
}

.contact-title h4 {
    position: absolute;
    top: 15px;
    right: 85px;
    color: rgb(95, 93, 93);
}

.contact-title {
    position: relative;
}

.section4 h5 {
    border: 3px solid #007ced;
    border-radius: 17px;
    padding: 5px 15px;
    display: inline-block;
    position: relative;
    margin-left: -45px;
}

.year ,.edu{
    border-bottom: 1px solid rgb(95, 93, 93);
    border-left: 1px solid rgb(95, 93, 93);
    padding: 30px
}

.section4 {
    padding-bottom: 75px;
}

.resume_heading {
    display: flex;
    flex-direction: row;

    gap: 425px;
    margin-left: 50px;
}

.section4 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 40px;
    margin-left: 60px;

}

.education,
.expirence {
    width: 500px;
}

.st_edu,
.st_exp {
    padding-top: 0px;
}

.f1:before {

    content: " ";
    height: 2px;
    width: 120px;
    background-color: rgb(95, 93, 93);
    position: absolute;
    bottom: 0px;
    display: block;
    margin-left: 20px;


}

.f1{
    position:relative;
}

.f1:after {
    bottom: 0px;
    content: " ";
    background-color: #007ced;
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    margin-left: 10px;
}

.first {
    padding-top: 0px;
}

.send {
    padding-top: 50px;
    padding-bottom: 50px;
}

.t1:hover {
    border-color: #007ced;
}


.year:hover {
    border-bottom: 1px solid #007ced;
    border-left: 1px solid #007ced;
}